
.investor-screen {
    background-image: linear-gradient( var(--border-color) 0%,  var(--white) 100%);
    padding: 130px 0;
}   

.header-investor {
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 30px;
}

.file-table-name {
    text-align: initial;
    font-size: 32px;
    font-weight: 600;
}

.file-table {
    border-radius: 15px;
    overflow: hidden;
}

.file-table-header {
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--ghost);
    background: var(--white);
}

.file-table-header p {
    font-size: 17px;
    font-weight: 500;
}

.file-table-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 17px;
    font-weight: 500;
    flex-wrap: wrap;
}

.file-table-row:nth-child(odd) {
    background: var(--white);
}

.file-table-row:nth-child(even) {
    background: var(--ghost);
}

.file-table-row > div {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.for-investors {
    max-width: 500px;
    padding: 50px;
    background: var(--white);
    margin: 100px auto 0 auto; 
    border-radius: 15px;

}
.for-investors h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.for-investors p {
    font-size: 17px;
    font-weight: 500;
}

.investor-buttons {
    background-color: transparent;
    border: none;
    outline: none;
}
.investor-buttons:focus {
    outline: none;
}