.faq-screen {
    display: block;
    position: relative;
    background-image: linear-gradient(90deg, #0A4065 0%, #042B46 100%);
    padding-bottom: 50px;
}
.faq-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-faq {
    font-family: 'TeshrinAR+LT-Bold', 'SegoeUI Bold', 'Segoe UI', sans-serif;
    font-size: calc(32px + 2vw);
    font-weight: 700;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: initial;
    width: 100%;
    max-width: 700px;
}
.subheader-faq {
    font-family: 'TeshrinAR+LT-Bold', 'SegoeUI Bold', 'Segoe UI', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: var(--main-color);
    letter-spacing: .3rem;
    margin-top: 150px;
    margin-bottom: 10px;
    text-align: initial;
    width: 100%;
    max-width: 700px;
}
.faq-accordion.accordion {
    width: 100%;
    max-width: 800px;
}
.faq-card.card {
    border: none;
    outline: none;
    margin-bottom: 20px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
}
.faq-accordion.accordion>.faq-card.card>.faq-card-header-wrap.card-header {
    border-radius: 10px;
    margin-bottom: -3px;
}
.faq-accordion.accordion>.faq-card.card:not(:last-of-type){
    border-radius: 10px;
}
.faq-card-header-wrap.card-header {
    display: flex; 
    justify-content: space-between;
    background-color: var(--bg-faq-tiles);
    font-family: 'TeshrinAR+LT-Bold', 'SegoeUI Bold', 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    margin: -1px;
    z-index: 10;
    padding: 35px 25px;
}
.faq-card-header-text {
    text-align: initial;
    margin: 0;
}
.faq-card-body {
    text-align: initial;
    z-index: 8;
    background-color: var(--white)
}
.faq-card-header-chevron {
    display: block;
    margin:  10px 10px;
    text-align: left;
}
.faq-card-body-text {
    font-family: 'TeshrinAR+LT-Light',  'SegoeUI Light', 'Segoe UI', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: var(--faq-text-color);
}
.faq-button-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
}
.button-more-faq {
    width: 225px;
    height: 76px;
    border-radius: 38px;
    background-color: var(--main-color);
    font-family: 'TeshrinAR+LT-Bold', 'SegoeUI Bold', 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px
}

.button-contact-us {
    width: 225px;
    height: 76px;
    border-radius: 38px;
    background-color: var(--bg-gradient-button);
    font-family: 'TeshrinAR+LT-Bold', 'SegoeUI Bold', 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    border: 3px solid var(--main-color);
    outline: none;
    cursor: pointer;
    margin-bottom: 20px
}
.button-gap-faq {
    width: 30px
}