.nav-dropdown > .nav-dropdown-btn, 
.nav-dropdown > .btn-primary:focus, 
.nav-dropdown > .nav-dropdown-btn:hover,
.nav-dropdown > .nav-dropdown-btn:focus,
.nav-dropdown.show>.btn-primary.dropdown-toggle:active,
.nav-dropdown.show>.btn-primary.dropdown-toggle,
.dropdown-toggle.btn-primary:not(:disabled):not(.disabled).active, 
.dropdown-toggle.btn-primary:not(:disabled):not(.disabled):active, 
.show>.dropdown-toggle.btn-primary.dropdown-toggle {
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 19px;
    border: none;
    outline: none;
    box-shadow: none;
}

.nav-dropdown-btn.dropdown-toggle:after {
    color: var(--main-color);
    border-top: .3em solid;
    border-right: .25em solid transparent;
    border-bottom: 0;
    border-left: .25em solid transparent;
    margin-left: 0.510em;
    box-shadow: none;
}

.nav-dropdown-btn.dropdown-toggle:hover {
    text-decoration: underline;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.nav-dropdown > .nav-dropdown-menu {
    border-radius: 10px;
}

.nav-dropdown-menu > .dropdown-item {
    line-height: 32px;
    border-bottom: 1px solid var(--border-color);
}

.nav-dropdown-menu > .dropdown-item:last-child {
    border-bottom: none;
}
